<%= @debug %>
<ul>
<% @results.each do |result| %>
	<li>
		<%=parsetime result.time %>
		<%= result.day %> 
		<%= result.room %> 
		<%= result.subject %> 
		<%= result.teacher %> 
		<%= result.group.name %>
	</li>
<% end %>
</ul>