<% content_for :title, 'Электронное Расписание МАИ'  %>
<% content_for :metadesc, 'Электронное расписание 4 факультета маи' %>
<% content_for :metawords, 'МАИ, ФРЭЛА, 4 факультет, электронное расписание, веб расписание' %>

<div class='container'>
  <div class='wrap'>
    <% @groups_by_course_number.each do |cnumber, groups| %>
    <div class='year<%=cnumber%>'>
      <h3><%=cnumber.to_s%> курс</h3>
      <ul class='group-list'>
       <%groups.each do |group|%>
        <li id='<%= group.id %>'>
                <button class='ui-list'><%= link_to  group.name , group %></button>
                <% if admin %>
                  <div class='btn-con'><%= link_to 'Delete', group, remote: true, method: :delete%></div>
                <% end %>
         </li>
       <% end %>
      </ul>
    </div>
    <% end %>
    
   
  </div>
    <% if admin %>
   <div class='center'>
      
        <button class='ui-link high'><%= link_to  'Добавить групппу', 'groups/new' %></button>
        <button class='ui-link high'><%= link_to  'Добавить пользователя', 'register' %></button>
      
    </div>
  <% end %>
</div>